@font-face{
  font-family: GameFont;
  src: url("/fonts/OMORI_GAME.ttf");
}

body{
  background-color: black;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.game-container{
  position: relative;
  height: 480px;
  width: 640px;
  outline: 1px solid white;
  margin: 0 auto;
  margin-top: 20px;
}