@font-face{
  font-family: GameFont;
  src: url("./fonts/OMORI_GAME.ttf");
}

body{
  background-color: black;
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.game-container{
  position: relative;
  width: 480px;
  height: 640px;
  outline: 1px solid white;
  transform: scale(1.4);
}

.game-container canvas{
  image-rendering: pixelated;
}